<div class="wrapper">
  <div class="list-item-in-cart">
    <table class="table">
      <tbody>
        <tr class="table-top">
          <td>
            <p class="img-item-top ">Image</p>
          </td>
          <td>
            <p class="name-item-top">Name </p>
          </td>
          <td>
            <p class="money-item-top">
              Price
            </p>
          </td>
          <td>

          </td>
        </tr>
        <tr class="table-content" *ngFor="let item of listData" [ngClass]="item.check? 'show':'hidden'">
          <td>
            <img class="img-item" src="../../../assets/{{item.img}}" alt="{{item.name}}">
          </td>
          <td>
            <p class="name-item">{{item.name}}</p>
          </td>
          <td>
           <p class="money-item">${{item.price}}</p>
          </td>
          <td>
            <button class="delete-item" (click)="delete(item.id)">delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

