.logout-page{
  width: 100px;

}
.fa-power-off {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #df273000;
  border: none;
  border-radius: 15px;
  box-shadow: 6px 6px 0 1px rgba(153, 153, 153, 0.519);
}

.fa-power-off:hover {
  background-color: #f87193;
  color: #fff;
}

.fa-power-off:active {
  background-color: #ec6083;
  box-shadow:6px 6px 0 1px  rgba(153, 153, 153, 0.519);;
  transform: translateY(4px);
}
