
          <div class="all-items">
            <div class="all-items-left">
              <p class="text-all-item"> Menu </p>
            </div>
          </div>
          <router-outlet></router-outlet>
          <div class="items" >
            <div class="items-food">
              <img class="picture" src="../../../assets/download-removebg-preview.png" alt="">
              <div class="name-item">Burger</div>
            </div>
            <div class="items-food">
              <img class="picture"  src="../../../assets/download-removebg-preview.png" alt="">
              <div class="name-item">Pizza</div>
            </div>
            <div class="items-food">
              <img class="picture" src="../../../assets/download-removebg-preview.png" alt="">
              <div class="name-item">Hotdogs</div>
            </div>
            <div class="items-food">
              <img class="picture" src="../../../assets/download-removebg-preview.png" alt="">
              <div class="name-item">Salads</div>
            </div>
            <div class="items-food">
              <img class="picture" src="../../../assets/download-removebg-preview.png" alt="">
              <div class="name-item">Deserts</div>
            </div>
            <div class="items-food">
              <img class="picture" src="../../../assets/download-removebg-preview.png" alt="">
              <div class="name-item">Drinks</div>
            </div>
          </div>

