
<div class="listNews">

  <div class="left-news">
    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>
  </div>
  <div class="right-news">
    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>

    <div class="news">
      <div class="imge-news">
        <img class="imge" src="../../../assets/download (1).jfif" alt="">
      </div>
      <div class="content-news">
        <h4 class="test">It's best saler</h4>
        <p class="test-inline">today I go to school......</p>
      </div>
    </div>
  </div>

</div>
