
<router-outlet *ngIf="!islogin"></router-outlet>
<div *ngIf="islogin" class="wrapper">
  <div class="container">
    <div class="navbar-menu">
      <div class="img"><img class="img_acc" src="../../../assets/pictur.png" alt="" width="50px" height="50px">
      <h3>Jack Gibbs</h3>
      </div>
      <div class="btn bnt-home">
        <button class="inf-btn" [ngClass]="userService.isSelectedRoute === 'home' ? 'actived' : ''" (click)="navigateUrl('home')" >
          <span class="bootrap-navbar fas fa-home"></span>
          <p class="p-text">Home</p>
        </button>
      </div>
      <div class="btn bnt-menu">
        <button class="inf-btn" [ngClass]="userService.isSelectedRoute === 'menu' ? 'actived' : ''" (click)="navigateUrl('menu')">
          <span class="bootrap-navbar fas fa-book"></span>
          <p class="p-text">Menu</p>
        </button>
      </div>
      <div class="btn bnt-aricles" (click)="navigateUrl('article')">
        <button class=" inf-btn" [ngClass]="userService.isSelectedRoute === 'article' ? 'actived' : ''">
          <span class="bootrap-navbar fas fa-file"></span>
         <p class="p-text">Articles</p>
        </button>
      </div>
      <div class="btn bnt-setting">
        <button class="inf-btn" [ngClass]="userService.isSelectedRoute === 'setting' ? 'actived' : ''" (click)="navigateUrl('setting')">
          <span class="bootrap-navbar fa fa-gear"></span>
          <p class="p-text">Setting</p>
        </button>
      </div>
      <div class="bottom_navbar">
        <img class="img-bottom_navbar" src="../../../assets/faster-removebg-preview.png" alt="">
      </div>
    </div>
    <div class="content">
      <div class="header-content">
        <div class="name-header"><h2 class="name">Welcome to Eatland</h2></div>
        <div class="research-header">
          <input [ngClass]="isSearch ? 'show' : 'hidden'" type="text" class="txt-search">
          <button class="search" (click)="search()">
            <span class="fa fa-search"></span>
          </button>

        </div>
        <div class="store"><button class="fa fa-shopping-cart"></button></div>
      </div>
      <div class="bottomc-content">
        <div class="content-left">
          <div class="lists-menu">
            <div class="list-name">
              <img class="img-list-name" src="../assets/images__3_-removebg-preview.png" alt="">
              <p>All</p>
            </div>
            <div class="list-name">
              <img class="img-list-name" src="../../../assets/download-removebg-preview.png" alt="">
              <p>Bugers</p>
            </div>
            <div class="list-name">
              <img class="img-list-name" src="../assets/pizza-y-removebg-preview.png" alt="">
              <p>Pizza</p>
            </div>
            <div class="list-name">
              <img class="img-list-name" src="../assets/images-removebg-preview (1).png" alt="">
              <p>Salads</p>
            </div>
            <div class="list-name">
              <img class="img-list-name" src="../assets/images__2_-removebg-preview.png" alt="">
              <p>Deserts</p>
            </div>
            <div class="list-name">
              <img class="img-list-name" src="../assets/images__1_-removebg-preview.png" alt="">
              <p>Drinks</p>
            </div>
          </div>
          <router-outlet></router-outlet>
        </div>
        <div class="content-right">
          <div class="saler">
            <img class="img-sale" src="../../../assets/download-removebg-preview.png" alt="">
            <h6 class="sale-of">-50% off</h6>
            <p class="for-items">the full of burger</p>
          </div>
          <div class="articles">
            <h1 class="srticles">Articles</h1>
            <span class="fa fa-angle-right"></span>
          </div>
          <div class="comment">
            <div class="list-comment">
              <img class="img-comment" src="../assets/icon-simle.png" alt="">
              <div>
                <p>content</p>
              </div>
            </div>
            <div class="list-comment">
              <img class="img-comment" src="../assets/icon-simle.png" alt="">
              <div>
                <p>content</p>
              </div>
            </div>
            <div class="list-comment">
              <img class="img-comment" src="../assets/icon-simle.png" alt="">
              <div>
                <p>content</p>
              </div>
            </div>
            <div class="list-comment">
              <img class="img-comment" src="../assets/icon-simle.png" alt="">
              <div>
                <p>content</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
