<div class="wrapper" >
    <div class="content">
      <div class="left">
        <img class="img-bg" src="../../../assets/bg.png" alt="">
      </div>
      <div class="right">
        <form (submit)="loginUser($event)">
          <div class="header">
            <h1>Welcom to Eatland</h1>
          </div>
          <div class="unline-header">
            <p>Register your account</p>
          </div>
          <div class="list-login">
            <div class="login-email box">
             <p class="login-title">Email</p>
              <input class="input" name="id" placeholder="huysadj@gmail.com" type="text">
            </div>
            <div class="login-Password box">
              <p class="login-title">Password</p>
              <input class="input" name="pass" placeholder="8+ characters" type="password">
            </div>
          </div>
          <div class="btn-login">
            <button class="btn_button" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
</div>
