<div class="wrapper">
  <div class="container">
    <div class="navbar-menu">
      <div class="img"><img class="img_acc" src="../../../assets/pictur.png" alt="" width="50px" height="50px">
      <h3>Jack Gibbs</h3>
      </div>
      <div class="bnt-home">
        <button class="btn fas fa-home">
          Home
        </button>
      </div>
      <div class="bnt-menu">
      <button class="btn fas fa-book">
        Menu
      </button>
      </div>
      <div class="bnt-aricles">
       <button class="btn fas fa-file">
         Aricles
        </button>
      </div>
      <div class="bnt-setting">
        <button class="btn bi bi-gear-fill">
          Setting
        </button>
      </div>
      <div class="bottom_navbar"></div>
    </div>
    <div class="content"></div>
  </div>
</div>
