
          <div class="all-items">
            <div class="all-items-left">
              <p class="text-all-item"> All items</p>
            </div>
            <div class="all-items-right">
              <p class="text-all-item-left">view all</p>
            <span class="fa fa-angle-right"(change)="emitChangeValue($event)" (click)="navigate('menu')" ></span>
            </div>
          </div>
          <div class="items" >
            <div class="items-food">
              <img class="picture" src="../../../assets/download-removebg-preview.png" alt="">
              <div class="name-item">burger</div>
              <p class="objects">object</p>
              <div class="money">
                <h5 class="test-money">
                  $20
                </h5>
                <span class="fa fa-plus"></span>
              </div>
            </div>
            <div class="items-food">
              <img class="picture"  src="../../../assets/download-removebg-preview.png" alt="">
              <div class="name-item">burger</div>
              <p class="objects">object</p>
              <div class="money">
                <h5 class="test-money">
                  $20
                </h5>
                <span class="fa fa-plus"></span>
              </div>
            </div>
            <div class="items-food">
              <img class="picture" src="../../../assets/download-removebg-preview.png" alt="">
              <div class="name-item">burger</div>
              <p class="objects">object</p>
              <div class="money">
                <h5 class="test-money">
                  $20
                </h5>
                <span class="fa fa-plus"></span>
              </div>
            </div>
            <div class="items-food">
              <img class="picture" src="../../../assets/download-removebg-preview.png" alt="">
              <div class="name-item">burger</div>
              <p class="objects">object</p>
              <div class="money">
                <h5 class="test-money">
                  $20
                </h5>
                <span class="fa fa-plus"></span>
              </div>
            </div>
            <div class="items-food">
              <img class="picture" src="../../../assets/download-removebg-preview.png" alt="">
              <div class="name-item">burger</div>
              <p class="objects">object</p>
              <div class="money">
                <h5 class="test-money">
                  $20
                </h5>
                <span class="fa fa-plus"></span>
              </div>
            </div>
            <div class="items-food">
              <img class="picture" src="../../../assets/download-removebg-preview.png" alt="">
              <div class="name-item">burger</div>
              <p class="objects">object</p>
              <div class="money">
                <h5 class="test-money">
                  $20
                </h5>
                <span class="fa fa-plus"></span>
              </div>
            </div>
          </div>

