.wrapper {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top left, #deebfb 6%, #d2d2f4 51%, #dae7f8 80%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 90vw;
  height: 85vh;
  background-image: linear-gradient(to top left, #ebf4fe 18%, #eeecf8 43%, #e9f2fe 87%);
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: center;
  border-radius: 20px;
}
.navbar-menu{
  width: 17%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.content{
  width: 80%;
    height: 90%;
  background-color: #fff;
  border-radius: 15px;
}
.img_acc{
  border-radius: 20px;
  border: 4px solid white;
}
.bottom_navbar{
  width: 94px;
  height: 110px;
  background-color: aqua;
}
.btn{
  width: 90px;
  height: 35px;
  background-color: #ec6083;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
}
.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #292c49;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  font-weight: 700;
}
