
          <div class="all-items">
            <div class="all-items-left">
              <p class="text-all-item"> All items</p>
            </div>
            <div class="all-items-right">
              <p class="text-all-item-left">view all</p>
            <span class="fa fa-angle-right chang-menu" (click)="navigate('menu')" ></span>
            </div>
          </div>
          <div class="items">
            <div class="items-food" *ngFor="let list of listData" [ngClass]="list.bestsaler? 'show':'hidden'">
              <img class="picture"  src="../../../assets/{{list.img}}" alt="">
              <div class="name-item">{{list.name}}</div>
              <p class="objects">{{list.des}}</p>
              <div class="money">
                <h5 class="test-money">
                  ${{list.price}}
                </h5>
                <span *ngIf="!list.check" class="fa fa-plus icon-custom" (click)="unLike(list)"></span>
                <span *ngIf="list.check" class="fa fa-check icon-custom" (click)="like(list)"></span>
              </div>
            </div>
          </div>

